@use '../abstracts' as *;

.card {
  background: rgba($color-bg-light, .55);
  border: 1px solid rgba($color-border, .85);
  border-radius: .75rem;
  overflow: hidden;
  transition: box-shadow .2 ease, transform .2s ease;

  &:hover {
    box-shadow: 0 0 .9rem rgba($color-neon-green, .22);
    transform: translateY(-1px);
  }
}