.m-sm {
  margin: .5rem;
}

.m-md {
  margin: .75rem;
}

.m-lg {
  margin: 1rem;
}

.m-xl {
  margin: 2rem;
}

.p-sm {
  padding: .5rem;
}

.p-md {
  padding: .75rem;
}

.p-lg {
  padding: 1rem;
}

.p-xl {
  padding: 2rem;
}