@use '../abstracts' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%; 
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background: $color-bg-dark;
  color: $color-text-light;

  p {
    line-height: 1.5;
  }
}

#header,
#main,
#footer {
  padding-block: clamp(1rem, 2vw, 2rem);
  padding-inline: clamp(1rem, 2vw, 2rem);
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0; 
}

.clear {
	clear: both;       
}  


// A11y helper (if you don’t already have one globally)
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}