@use '../abstracts' as *;

.about {
  max-width: 90rem;
  margin-inline: auto;
  padding: 2rem;

  header {
    margin-block-end: 2rem;
  }

  p {
    margin-block: 1rem;
  }

  h1, 
  h2 {
    margin-block: 3rem 2rem;
  }

  p,
  ul,
  ul li {
    margin-block: 1rem;
  }

  
  footer {
    margin-block: 2rem;
  }
}