@use '../abstracts' as *;

.games-teaser {
  padding: 2rem 1rem;

  @media (min-width: $bp-md) {
    padding: 3rem 1.5rem
  }

  &__title {
    margin: 0 0 1rem;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    letter-spacing: .3px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 26rem));
    justify-content: center;
    align-items: start;
    gap: 1rem;

    @media (min-width: $bp-md) {
      gap: 1.2rem;
    }

    @media (min-width: $bp-lg) {
      gap: 1.4rem;
    }
  }
}

